[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/wujunfu
[access "refs/for/refs/*"]
	read = group user/wujunfu
	push = group user/wujunfu
	label-Code-Review = -2..+2 group user/wujunfu
	label-Verified = -1..+1 group user/wujunfu
	rebase = group user/wujunfu
	removeReviewer = group user/wujunfu
	submit = group user/wujunfu
[access "refs/heads/*"]
	read = group user/wujunfu
	create = group user/wujunfu
	push = +force group user/wujunfu
	pushMerge = group user/wujunfu
[access "refs/tags/*"]
	push = +force group user/wujunfu
	pushTag = group user/wujunfu
	pushSignedTag = group user/wujunfu
